<h1 style="color: #FF8C00;">Portfolio Analysis: Python Challenge</h1>

---

**This challenge** represents a practical tech assignment designed to test your skills in portfolio analysis. Portfolio analysis is a systematic way to evaluate investment portfolios to optimize asset allocation and management. It involves a variety of financial metrics and visualizations to assess the performance and risk of different financial assets.

- In this exercise, you will be required to perform a series of calculations and create visualizations to analyze a set of financial assets.
- Your task is to develop the necessary code to accomplish each of these tasks effectively.
- This challenge is an opportunity to demonstrate your ability to apply Python programming skills in a real-world financial context.

<h1 style="color: #FF8C00;">Libraries</h1>

<h3 style="color: #FF6347;">-- Insert your code here --</h3>

---

Make sure to import all the libraries you will need to complete your tasks in this challenge.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as sts

<h1 style="color: #FF8C00;">Exercise 1: Data Loading and Price Charting</h1>

---

You are tasked with loading and analyzing financial data, which is foundational for effective portfolio management. Begin by loading the file named `asset_price_data.csv`, containing essential pricing information for various financial assets.

Post data loading, your objective is to visualize this data through a time series graph.The integrity of your analysis depends heavily on your ability to visualize trends accurately while ensuring all asset price series begin at a uniform value.

<h3 style="color: #FF6347;">Data Loading</h3>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

In [5]:
data = pd.read_csv('C:/Data_Science/IH_Notebooks/Week4_Tech_Challenge/asset_price_data.csv')

asset_df = data.copy()
asset_df

           date    Asset1   Asset2     Asset3  Asset4  Asset5
0    2019-01-02  231.5061   55.875  25.649222  302.93   50.89
1    2019-01-03  231.0356   54.977  25.503047  302.11   50.41
2    2019-01-04  230.4026   56.129  26.147133  301.77   51.38
3    2019-01-07  230.0543   56.838  25.955277  302.33   52.14
4    2019-01-08  229.7012   56.895  26.137997  303.42   52.13
..          ...       ...      ...        ...     ...     ...
778  2021-12-27  249.9207  103.956  38.820000     NaN   70.11
779  2021-12-28  249.9368  104.526  39.115000     NaN   70.03
780  2021-12-29  248.7215  104.360  38.855000  342.46   69.81
781  2021-12-30  248.5485  104.663  38.985000  342.55   69.91
782  2021-12-31  248.7545  104.106  39.005000  342.59     NaN

[783 rows x 6 columns]

In [9]:
asset_df = asset_df.fillna(0.0)

In [13]:
asset_df['date'] = pd.to_datetime(asset_df['date'])

In [15]:
num = asset_df.select_dtypes(include= 'number')
num

       Asset1   Asset2     Asset3  Asset4  Asset5
0    231.5061   55.875  25.649222  302.93   50.89
1    231.0356   54.977  25.503047  302.11   50.41
2    230.4026   56.129  26.147133  301.77   51.38
3    230.0543   56.838  25.955277  302.33   52.14
4    229.7012   56.895  26.137997  303.42   52.13
..        ...      ...        ...     ...     ...
778  249.9207  103.956  38.820000    0.00   70.11
779  249.9368  104.526  39.115000    0.00   70.03
780  248.7215  104.360  38.855000  342.46   69.81
781  248.5485  104.663  38.985000  342.55   69.91
782  248.7545  104.106  39.005000  342.59    0.00

[783 rows x 5 columns]

<h1 style="color: #FF8C00;">Exercise 2: Daily Percentage Returns</h1>

---

You are required to calculate the daily percentage returns for each financial asset. Utilize this data to accomplish the following:
- Calculate the correlation matrix for the five assets.
- Create a scatter plot comparing the returns of two specific assets.

<h2 style="color: #FF6347;">Daily Returns Calculation.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

<h2 style="color: #FF6347;">Correlation Matrix Calculation.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

In [17]:
correlation_matrix = num.corr()

<h2 style="color: #FF6347;">Scatter Plot between the Returns of Two Assets.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

<h1 style="color: #FF8C00;">Exercise 3: Portfolio Analysis</h1>

---

This third exercise focuses on calculating and analyzing the performance of a portfolio. Begin by loading the file named `portfolio_weights.csv`, which contains the daily weights of each asset in the portfolio.

To complete the exercise, you will need to perform the following tasks:
- Create an area chart of the asset weights.
- Plot the historical cumulative returns of the portfolio.
- Calculate the annualized return of the portfolio.
- Determine the annualized volatility of the portfolio (using an annualization factor of 261 days).
- Produce an area chart grouping asset weights by their categories, as detailed in the `asset_information_data.csv`.

<h2 style="color: #FF6347;">Area Chart of Asset Weights.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

<h2 style="color: #FF6347;">Chart of Historical Cumulative Returns of the Portfolio.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

<h2 style="color: #FF6347;">Annualized Return.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

<h2 style="color: #FF6347;">Annualized Volatility.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>

<h2 style="color: #FF6347;">Area Chart of Asset Weights Grouped by Family.</h2>
<h3 style="color: #FF6347;">-- Insert your code here --</h3>